
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>所有订单</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../static/style/admin.css" media="all">
{#  回到顶部底部#}
  <link rel="stylesheet" href="../../../static/myself_static_files/top_down/style.css" media="all">
  <!---ECharts图表库-->
  <script src="https://unpkg.com/echarts@4.8.0/dist/echarts.js" charset="utf-8"></script>
  <style>
        .layui-input,.layui-inline{
            height:30px;
        }
        .layui-form-item .layui-input-inline{
            width: 150px;
        }
        .layui-table-cell {
            font-size:14px;
            padding:0 5px;
            height:auto;
            overflow:visible;
            text-overflow:inherit;
            white-space:normal;
            word-break: break-all;
            line-height:19px
        }
  </style>
</head>
<body >
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
{#          搜索栏  #}
          <div class="layui-fluid">
            <div class="layui-card">
{#              <div class="layui-card-body" style="padding: 15px;">#}
                <div class="layui-form"  lay-filter="">
                  <div class="layui-form-item" >
                    <div class="layui-inline">
                      <label class="layui-form-label">账号选择</label>
                      <div class="layui-input-inline">
                        <select name="store_name" id="store_name" lay-verify="required" lay-search="">
                            <option value="all" selected >all</option>
                            {% for store_name_user in store_name_users %}
                                <option value="{{ store_name_user.store_name }}">{{ store_name_user.store_name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="layui-inline">
                      <label class="layui-form-label">时间段：</label>
                      <div class="layui-input-inline">
                        <select name="time_local" id="time_local" lay-verify="" lay-search="">
                            <option value="">时间段</option>
                            <option value="today">today</option>
                            <option value="yesterday">yesterday</option>
                            <option value="yesterday1">前天</option>
                            <option value="yesterday2">大前天</option>
                            <option value="last_7_days">last_7_days</option>
                            <option value="last_30_days">last_30_days</option>
                            <option value="last_60_days">last_60_days</option>
                            <option value="last_90_days">last_90_days</option>
                            <option value="all_time">all_time</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-inline" >
                      <label class="layui-form-label" >起始日期</label>
                      <div class="layui-input-inline" >
                        <input type="text"  name="start_time" id="start_time" lay-verify="required" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-inline" >
                      <label class="layui-form-label" >结束日期</label>
                      <div class="layui-input-inline" >
                        <input type="text"  name="end_time" id="end_time" lay-verify="required" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-inline" >
                      <label class="layui-form-label" >SKU</label>
                      <div class="layui-input-inline" >
                        <input type="text" name="SKU" id="SKU" lay-product_identifier="" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-inline" >
                      <label class="layui-form-label">订单状态</label>
                      <div class="layui-input-inline" >
                          <select  name="order_status" id="order_status" lay-search=""  >
                            <option value="全部订单" selected >全部订单</option>
                            <option value="Approved">待发货</option>
                            <option value="Dispatched">待收货</option>
                            <option value="Completed">确认收货</option>
                            <option value="Refunded">已退款</option>
                            <option value="Canceled">已取消</option>
                            <option value="Closed">已关闭</option>
                          </select>
                      </div>
                    </div>
                    <div class="layui-inline" >
                      <label class="layui-form-label">查询数据</label>
{#                      <div class="layui-input-inline" style="width: 70px" >#}
{#                        <input  type="number" name="quantity" id="quantity" placeholder="" autocomplete="off" class="layui-input"value="50" >#}
{#                      </div>#}
                      <div class="layui-input-inline"  >
                        <button id =""  class="layui-btn layui-btn-sm" lay-submit lay-filter="chaxunshuju">按条件查询</button>
                      </div>
                    </div>
                  </div>
                </div>
{#              </div>#}
            </div>
          </div>
{#          数据表  #}
          <div class="layui-card-body"  >
{#统计栏数据表格  #}
            <table class="layui-hide" id="top-statistiics-table_Sum" lay-filter="top-statistiics-table_Sum"></table>
            {#异常率#}
            <script type="text/html" id="top-statistiics-table-Sum-异常率">
                  {% verbatim %}
                      <a >{{ d.REFUNDED_RATE }}%</a>
                  {% endverbatim %}
            </script>
            {#均成交价#}
            <script type="text/html" id="top-statistiics-table-Sum-均成交价">
                  {% verbatim %}
                      {{#  if(d.TOTAL_AMOUNT && d.TOTAL_AMOUNT_CN ){ }}
                          <a >{{ d.TOTAL_AMOUNT }} / {{ d.TOTAL_AMOUNT_CN }}</a>

                      {{#  } else if (d.TOTAL_AMOUNT) { }}
                          <a >{{ d.TOTAL_AMOUNT }} / --</a>

                      {{#  } else if (d.TOTAL_AMOUNT_CN) { }}
                          <a >-- / {{ d.TOTAL_AMOUNT_CN }}</a>

                      {{#  } else { }}
                          <a >-- / -- </a>
                      {{#  }  }}
                  {% endverbatim %}
            </script>
            {#总毛利润#}
            <script type="text/html" id="top-statistiics-table-Sum-总毛利">
                  {% verbatim %}
                  {{#  if(d.NET_PROFIT > 0){ }}
                      <a >{{ d.NET_PROFIT }}</a>
                  {{#  } else { }}
                      <a style="color:orangered" >{{ d.NET_PROFIT }}</a>
                  {{#  }  }}
                  {% endverbatim %}
            </script>
            {#总利润率#}
            <script type="text/html" id="top-statistiics-table-Sum-总利润率">
                  {% verbatim %}
                  {{#  if(d.PROFIT_MARGIN > 0){ }}
                      <a >{{ d.PROFIT_MARGIN }}%</a>
                  {{#  } else { }}
                      <a style="color:orangered" >{{ d.PROFIT_MARGIN }}%</a>
                  {{#  }  }}
                  {% endverbatim %}
            </script>

             <br>
{#详细数据表格  #}
            <table class="layui-hide" id="top-statistiics-table" lay-filter="top-statistiics-table"></table>
           {#账号列  #}
            <script type="text/html" id="top-statistiics-table-账号">
                <a >{% verbatim %}(<a style="color: #f1a02f">{{d.store_name}}</a>){{ d.sku_no }}{% endverbatim %}</a>
            <br><a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="jinru1688">1688</a>
            </script>
             {#图片列#}
            <script type="text/html" id="top-statistiics-table-商品图">
              <div id="top-statistiics-table-tupian-flow" lay-event="tupianfangda"><img style="float: left" lay-src="{% verbatim %}{{ d.goods_main_image_url }}{% endverbatim %}"  alt="" ></div>
            </script>
            {#利润率#}
            <script type="text/html" id="top-statistiics-table-利润率">
                  {% verbatim %}
                  {{#  if(d.profit_margin > 0){ }}
                      <a >{{ d.profit_margin }}%</a>
                  {{#  } else { }}
                      <a style="color:orangered" >{{ d.profit_margin }}%</a>
                  {{#  }  }}
                  {% endverbatim %}
            </script>
            {#均毛利#}
            <script type="text/html" id="top-statistiics-table-均毛利">
                  {% verbatim %}
                  {{#  if(d.Net_profit_avg > 0){ }}
                      <a >{{ d.Net_profit_avg }}%</a>
                  {{#  } else { }}
                      <a style="color:orangered" >{{ d.Net_profit_avg }}%</a>
                  {{#  }  }}
                  {% endverbatim %}
            </script>
            {#正常订单#}
            <script type="text/html" id="top-statistiics-table-正常订单">
                  {% verbatim %}
                  {{#  if(d.status_Approved){ }}
                    <a >待发货：{{ d.status_Approved }}</a>
                  {{#  } else { }}
                    <a >待发货：</a>
                  {{#  }  }}
                  {% endverbatim %}

                  {% verbatim %}
                  {{#  if(d.status_Dispatched){ }}
                    <br><a >待收货：{{ d.status_Dispatched }}</a>
                  {{#  } else { }}
                    <br><a >待收货：</a>
                  {{#  }  }}
                  {% endverbatim %}

                  {% verbatim %}
                  {{#  if(d.status_Completed){ }}
                    <br><a >确认收货：{{ d.status_Completed }}</a>
                  {{#  } else { }}
                    <br><a >确认收货：</a>
                  {{#  }  }}
                  {% endverbatim %}
            </script>
             {#异常订单#}
            <script type="text/html" id="top-statistiics-table-异常订单">
                  {% verbatim %}
                  {{#  if(d.status_Refunded){ }}
                    <a >已退款：{{ d.status_Refunded }}</a>
                  {{#  } else { }}
                    <a >已退款：</a>
                  {{#  }  }}
                  {% endverbatim %}

                  {% verbatim %}
                  {{#  if(d.status_Canceled){ }}
                    <br><a >已取消：{{ d.status_Canceled }}</a>
                  {{#  } else { }}
                    <br><a >已取消：</a>
                  {{#  }  }}
                  {% endverbatim %}

                  {% verbatim %}
                  {{#  if(d.status_Closed){ }}
                    <br><a >已关闭：{{ d.status_Closed }}</a>
                  {{#  } else { }}
                    <br><a >已关闭：</a>
                  {{#  }  }}
                  {% endverbatim %}
            </script>
            {#异常率#}
            <script type="text/html" id="top-statistiics-table-异常率">
                  {% verbatim %}
                      {{#  if(d.refunded_rate){ }}
                        <a >{{ d.refunded_rate }}%</a>
                      {{#  } else { }}
                        <a > --%</a>
                      {{#  }  }}
                  {% endverbatim %}
            </script>
             {#均成交价#}
            <script type="text/html" id="top-statistiics-table-均成交价">
                  {% verbatim %}
                     <a >{{ d.total_amount }}/<br>{{ d.total_amount_CN }}</a>
                  {% endverbatim %}
            </script>
             {#商品#}
            <script type="text/html" id="top-statistiics-table-商品">
                  {% verbatim %}
                      {{#  if(d.SKU_price > '0.00' || d.SKU_weight > '0.00'){ }}
                           <a >货价：{{ d.SKU_price }}</a>
                       <br><a >重量：{{ d.SKU_weight }}</a>
                       <br><a >运费：{{ d.SKU_freight }}</a>
                      {{#  } else { }}
                        <a style="color:orangered">未输入</a>
                      {{#  }  }}
                  {% endverbatim %}
            </script>
             {#毛利润#}
            <script type="text/html" id="top-statistiics-table-毛利润">
                  {% verbatim %}
                      {{#  if(d.Net_profit > 0 ){ }}
                        <a >{{ d.Net_profit }}</a>
                      {{#  } else { }}
                        <a style="color:orangered">{{ d.Net_profit }}</a>
                      {{#  }  }}
                  {% endverbatim %}
            </script>
             {#操作列#}
            <script type="text/html" id="top-statistiics-table-操作">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="bianji"><p>编辑</p></a>
{#                <br><a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="shangpingxinxigengxin"><p>商品信息更新</p></a>#}
                <br><a lay-href="/PruAndLog/owm_products_update/?来源=5miles&SKU_5M={% verbatim %}{{ d.goods_no }}{% endverbatim %}"  class="layui-table-link">加入商品库</a>
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{#  返回顶部底部按钮#}
<div id="floatPanel">
	<div class="ctrolPanel">
		<a class="arrow" href="#"><span>顶部</span></a>
		<a class="arrow" href="#"><span>底部</span></a>
	</div>
</div>
{#  图表统计#}
<div id="tongjiChart" style="display: none;">
     <div id="tongjiChartMain" style="width: 800px; height: 500px;"></div>
</div>

  <script src="../../../static/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table','form', 'laydate','flow','jquery'], function(){
    var table = layui.table;
    var laydate = layui.laydate;
    var form = layui.form;
    var $ = layui.$;
    var flow = layui.flow;

//详细数据表格  （表格控制，表格主体，采用方法渲染）
    table.render({
      elem: '#top-statistiics-table'
      ,url: '/five_miles/FiveMiles_All_orders_profitStatistics/'
      ,cellMinWidth: 110
      ,cols: [[
         {title: '账号',   width:110, align:'center', templet: '#top-statistiics-table-账号'}
        ,{title: '商品图', width:110, align:'center', templet: '#top-statistiics-table-商品图'}
        ,{title: '利润率', width:100, align:'center',templet: '#top-statistiics-table-利润率' }
        ,{title: '均毛利(¥)',width:100, align: 'center',templet: '#top-statistiics-table-均毛利'}
        ,{title: '总订单',width:100,field:'product_sum', align: 'center',sort: true}
        ,{title: '正常订单',width:110,  align: 'left', templet: '#top-statistiics-table-正常订单'}
        ,{title: '异常订单',width:110,  align: 'left', templet: '#top-statistiics-table-异常订单'}
        ,{title: '异常率',width:110,field:'refunded_at_buyer',  align: 'center', templet: '#top-statistiics-table-异常率'}
        ,{title: '均成交价($/¥)',width:110,align: 'center',templet: '#top-statistiics-table-均成交价'}
        ,{title: '商品(¥)',width:110, align: 'left',templet: '#top-statistiics-table-商品'}
        ,{title: '打包费(¥)',width:80,field:'dabaochenben', align: 'center'}
        ,{title: '总成本(¥)',field:'cost_of',  align: 'center'}
        ,{title: '建议一口价($)',field:'suggest_buynows_price',  align: 'center'}
        ,{title: '毛利润(¥)',  align: 'center', templet: '#top-statistiics-table-毛利润'}
        ,{title: '操作',  align: 'center', templet: '#top-statistiics-table-操作'}
      ]]
      ,initSort: {
            field: 'product_sum' //排序字段，对应 cols 设定的各字段名
            ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
          }
      ,autoSort: false //禁用前端自动排序。
      ,page: true
      ,limit:'20'
      ,loading:true
      {#,toolbar: 'default'#}
      ,where: {
           table_number: 'table_number_detail',
        }
      //初次进去的图片懒加载
      ,done:  function (res, curr, count) {flow.lazyimg({elem: '#top-statistiics-table-tupian-flow img'});
      {#$('th').css({'background-color': '#5792c6', 'color': '#fff','font-weight':'bold'})#}
      }
    });
    //图片懒加载
    flow.lazyimg({
       elem: '#top-statistiics-table-tupian-flow img'
    });
    //监听配件工具条
    table.on('tool(top-statistiics-table)', function(obj){
      var data = obj.data;

      //1688图片匹配搜索（逻辑）
      if(obj.event === 'jinru1688')
      {
        layer.msg('加载中', {
          icon: 16
          ,shade: 0.01
        });
        $.ajax({
            url:'/common_functions/TOP_statistics/',
            type:'get',
            data:{top_img_url:data.goods_main_image_url},
            success:
                function (response)
                {
                    var index = layer.msg();
                    layer.close(index);
                    var ret = JSON.parse(response);
                    if (ret.img_url) { //上传成功
                        window.open('https://kj.1688.com/pdt_tongkuan.html?imgUrl=http://sksj.shop//static/user_files_directory/TOP_img_to_own/'+ret.img_url,'target')
                    }
                }
            })
      }
      else if(obj.event === 'tupianfangda')
      {
        layer.open({
          title:'详图--'+ data.sku_no,
          type: 1,
          skin: 'layui-layer-admin',
          area: '400px',
          closeBtn: 2,
          shadeClose: true,
          content: '<img src="'+ data.goods_main_image_url +'"  alt="" width=350px height=350px>'
        });
      }
      else if(obj.event === 'bianji')
      {
		layer.open({
			  type: 0,
			  title: '备注详情：'+'标准ID（' +data.standard_product_id+'）' ,
			  shadeClose: true,
			  shade: 0.3,
              btn: ['确认', '取消'],
			  area:['350px', '590px'],
			  content:' <div class="layui-form-item" >\
			                <div class="layui-inline" >\
                              <div class="layui-input-inline"  >\
                                <input value = "'+ data.sku_no +'" style="width:310px;color: #f1a02f" class="layui-input" >\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" >商品进价(¥)</label>\
                              <div class="layui-input-inline"  >\
                                <input value = "'+ data.SKU_price +'" type="text" name="SKU_price" id="SKU_price"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" >商品重量(g)</label>\
                              <div class="layui-input-inline"  >\
                                <input value = "'+ data.SKU_weight +'" type="text" name="SKU_weight" id="SKU_weight"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" >配件进价(¥)</label>\
                              <div class="layui-input-inline"  >\
                                <input value = "'+ data.SKU_parts_price +'" type="text" name="SKU_parts_price" id="SKU_parts_price"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" >配件重量(g)</label>\
                              <div class="layui-input-inline"  >\
                                <input value = "'+ data.SKU_parts_weight +'" type="text" name="SKU_parts_weight" id="SKU_parts_weight"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                               <label class="layui-form-label">货物种类：</label>\
                                  <div class="layui-input-inline" >\
                                      <select lay-search class="layui-inline layui-input-inline" name="SKU_variety" id="SKU_variety" >\
                                        <option value="'+data.SKU_variety +'">'+data.SKU_variety+'</option>\
                                        <option value="输入运费">输入运费</option>\
                                        <option value="普货">普货</option>\
                                        <option value="带电">带电</option>\
                                        <option value="特货">特货</option>\
                                        <option value="平邮">平邮</option>\
                                      </select>\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" >输入运费(¥)</label>\
                              <div class="layui-input-inline"  >\
                                <input value = "'+ data.HAI_SKU_freight +'" type="text" name="HAI_SKU_freight" id="HAI_SKU_freight"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" style="width:100px">平邮小于7(¥)</label>\
                              <div class="layui-input-inline"  >\
                                <input style="width:130px" value = "'+ data.Pingyou_min7_SKU_freight +'" type="text" name="Pingyou_min7_SKU_freight" id="Pingyou_min7_SKU_freight"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" style="width:100px" >平邮大于7(¥)</label>\
                              <div class="layui-input-inline"  >\
                                <input style="width:130px" value = "'+ data.Pingyou_max7_SKU_freight +'" type="text" name="Pingyou_max7_SKU_freight" id="Pingyou_max7_SKU_freight"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                            \<div class="layui-inline" >\
                              <label class="layui-form-label" >收藏商品</label>\
                              <div class="layui-input-inline" >\
                                <select lay-search class="layui-inline layui-input-inline" name="top_colect" id="top_colect" >\
                                    <option value="是">是</option>\
                                    <option value="否">否</option>\
                                    <option selected value="'+data.top_colect +'">'+data.top_colect+'</option>\
                                </select>\
                              </div>\
                            </div>\
                            <br><br>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" style="width:120px" >更改所有标准商品</label>\
                              <div class="layui-input-inline" style="width:40px" >\
                                <select style="width:110px"  lay-search class="layui-inline layui-input-inline" name="change_standard_product" id="change_standard_product" >\
                                    <option value="是">是</option>\
                                    <option value="否">否</option>\
                                </select>\
                              </div>\
                            </div>\
                            <div class="layui-inline" >\
                              <label class="layui-form-label" style="width:110px" >手动输入标准ID</label>\
                              <div class="layui-input-inline"  >\
                                <input style="width:120px" value = "" type="text" name="standard_product_id_edit" id="standard_product_id_edit"  placeholder="请输入" class="layui-input" >\
                              </div>\
                            </div>\
                         </div>',

			  yes:function(index){
			      var SKU_price               =$("#SKU_price").val();
			      var SKU_weight              =$("#SKU_weight").val();
			      var SKU_parts_price         =$("#SKU_parts_price").val();
			      var SKU_parts_weight        =$("#SKU_parts_weight").val();
			      var SKU_variety             =$("#SKU_variety").val();
			      var Pingyou_min7_SKU_freight         =$("#Pingyou_min7_SKU_freight").val();
			      var Pingyou_max7_SKU_freight         =$("#Pingyou_max7_SKU_freight").val();
			      var HAI_SKU_freight         =$("#HAI_SKU_freight").val();
			      var top_colect              =$("#top_colect").val();
			      var change_standard_product =$("#change_standard_product").val();
			      var standard_product_id = '';
			      if (data.standard_product_id)
                  {standard_product_id = data.standard_product_id}
			      else{standard_product_id=$("#standard_product_id_edit").val();}
                  $.ajax({
                    url:'/Tophatter/All_orders_profitStatistics/',
                    type:'get',
                    data:{
                            SKU_name:data.sku_no,
                            SKU_price:SKU_price,
                            SKU_weight:SKU_weight,
                            SKU_parts_price:SKU_parts_price,
                            SKU_parts_weight:SKU_parts_weight,
                            SKU_variety:SKU_variety,
                            HAI_SKU_freight:HAI_SKU_freight,
                            Pingyou_min7_SKU_freight:Pingyou_min7_SKU_freight,
                            Pingyou_max7_SKU_freight:Pingyou_max7_SKU_freight,
                            top_colect:top_colect,
                            change_standard_product:change_standard_product,
                            standard_product_id_edit:standard_product_id,
                         },
                    success:
                        function (response)
                        {
                          var ret = JSON.parse(response);
                          layer.msg(ret.msg_e);
                        }
                    })
				  {#layer.close(index);#}
				  }
			});
      }
      else if(obj.event === 'shangpingxinxigengxin')
      {
          layer.open({
          type: 1,
          title: '更新商品信息' ,
          shadeClose: true,
          shade: 0.2,
          {#btn: ['关闭'],#}
          area:['280px', '180px'],
          content:'<br>' +
                  '&nbsp;&nbsp;&nbsp;&nbsp;<a>店铺名：'+ data.store_name +'</a><br>' +
                  '&nbsp;&nbsp;&nbsp;&nbsp;<a>SKU名：'+ data.SKU +'</a><br>' +
                  '<br><br>' +
                  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                  '<a class="layui-btn layui-btn-sm layui-btn-normal" lay-href="/Tophatter/Top_products_update/?store_name=' + data.store_name + '&Top主SKU='+ data.SKU+ '" lay-text="商品信息更新" >更新商品信息</a>' +
                  '<br><br>'
        });
      }
    });
    //触发排序事件
    table.on('sort(top-statistiics-table)', function(obj){
      table.reload('top-statistiics-table', {
        initSort: obj
        ,where: {
           Sort_field: obj.field //排序字段
          ,Sort_order: obj.type //排序方式
        }
      });
    });


//统计表格    （表格控制，表格主体，采用方法渲染）
    table.render({
      elem: '#top-statistiics-table_Sum'
      ,url: '/five_miles/FiveMiles_All_orders_profitStatistics/'
      ,cellMinWidth: 110
      ,cols: [[
         {title: '总订单数',field:'PAID_SUM', align: 'center'}
        ,{title: '异常数',field:'REFUN_SUM_OWN', align:'center'}
        ,{title: '异常率', align: 'center',templet: '#top-statistiics-table-Sum-异常率'}
        ,{title: '汇率',field:'EXCHANGE_RATE',  align: 'center'}
        ,{title: '均成交价($/¥)', align: 'center',templet: '#top-statistiics-table-Sum-均成交价'}
        ,{title: '打包费(¥)',field:'打包总成本',  align: 'center'}
        ,{title: '总成本(¥)',field:'COSTF_OF',  align: 'center'}
        ,{title: '总毛利(¥)',  align: 'center', templet: '#top-statistiics-table-Sum-总毛利'}
        ,{title: '总利润率',  align: 'center', templet: '#top-statistiics-table-Sum-总利润率'}
      ]]
      ,loading:true
      ,where: {
           table_number: 'table_number_sum',
        }
    });
//提交
    form.on('submit(chaxunshuju)', function(data){
    	{#layer.load(2);#}
    	var store_name= $('#store_name');
    	var time_local= $('#time_local');
    	var start_time= $('#start_time');
    	var end_time= $('#end_time');
    	var SKU= $('#SKU');
    	var order_status= $('#order_status');

        //执行重载
        table.reload('top-statistiics-table', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
                     'store_name':          store_name.val(),
                     'time_local':          time_local.val(),
                     'start_time':          start_time.val(),
                     'end_time':            end_time.val(),
                     'SKU':                 SKU.val(),
                     'order_status':        order_status.val(),
          }
        });
        table.reload('top-statistiics-table_Sum', {
          where: {
                     'store_name':          store_name.val(),
                     'time_local':          time_local.val(),
                     'start_time':          start_time.val(),
                     'end_time':            end_time.val(),
                     'SKU':                 SKU.val(),
                     'order_status':        order_status.val(),
          }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });

//时间控制
    //日期时间选择器
    laydate.render({
      elem: '#start_time'
      ,type: 'date'
      ,theme: '#393D49'
      ,format:'yyyy-MM-dd'
      ,max:0
      ,value:getRecentDay(-7)
    });
    laydate.render({
      elem: '#end_time'
      ,type: 'date'
      ,theme: '#393D49'
      ,format:'yyyy-MM-dd'
      ,max:0
      ,value:getRecentDay(0)
    });
    //通过时区获取时间
    function getLocalTime(i) {
         if (typeof i !== "number") {
             return new Date();
           }
           var d = new Date();
           var len = d.getTime();
           var offset = d.getTimezoneOffset() * 60000;
           var utcTime = len + offset;
          return new Date(utcTime + 3600000 * i);
        }
    //获取近N天
    function getRecentDay(day){
        var today = getLocalTime(-7)  //new Date();
        var targetday_milliseconds=today.getTime() + 1000*60*60*24*day;
        today.setTime(targetday_milliseconds);
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);
        {#return tYear+"-"+tMonth+"-"+tDate+' 00:00';#}
        return tYear+"-"+tMonth+"-"+tDate;
    }
    function doHandleMonth(month){
        var m = month;
        if(month.toString().length == 1){
            m = "0" + month;
        }
        return m;
    }
{#页面到底到顶#}
    $(function(){
	// 页面浮动面板
	$("#floatPanel > .ctrolPanel > a.arrow").eq(0).click(function(){
		$("html,body").animate({scrollTop :0}, 800);
		return false;
	});
	$("#floatPanel > .ctrolPanel > a.arrow").eq(1).click(function(){
		$("html,body").animate({scrollTop : $(document).height()}, 800);
		return false;
	});
});
//the file id end//
  });
</script>
</body>
</html>