{% load staticfiles %}
<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0670f0">
		<meta name="theme-color" content="#2ddcd3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">


		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

		<!-- Title -->
		<title>摇钱数（商品分析）</title>
		<link rel="stylesheet" href="{% static 'assets/fonts/fonts/font-awesome.min.css' %}" />

		<!-- Bootstrap Css -->
		<link href="{% static 'assets/plugins/bootstrap-4.1.3/css/bootstrap.min.css' %}" rel="stylesheet" />

		<!-- Sidemenu Css -->
		<link href="{% static 'assets/plugins/fullside-menu/css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/plugins/fullside-menu/waves.min.css' %}" rel="stylesheet" />

		<!-- Dashboard Css -->
		<link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" />

		<!-- c3.js Charts Plugin -->
		<link href="{% static 'assets/plugins/charts-c3/c3-chart.css' %}" rel="stylesheet" />

		<!-- Data table css -->
		<link href="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />


		<!-- Slect2 css -->
		<link href="{% static 'assets/plugins/select2/select2.min.css' %}" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="{% static 'assets/plugins/scroll-bar/jquery.mCustomScrollbar.css' %}" rel="stylesheet" />

		<!---Font icons-->
		<link href="{% static 'assets/plugins/iconfonts/plugin.css' %}" rel="stylesheet" />

        <!---计算器-->
        <link href="{% static 'jisuanqi/css/sidebar.css' %}" rel="stylesheet" type="text/css" />

        <!---ECharts图表库-->
        <script src="{% static 'js/echarts.min.js' %}"></script>
        <!-- 引入 vintage 主题 -->
        <script src="{% static 'js/Echart/dark.js' %}"></script>
        <script src="{% static 'js/Echart/infographic.js' %}"></script>
        <script src="{% static 'js/Echart/macarons.js' %}"></script>
        <script src="{% static 'js/Echart/roma.js' %}"></script>
        <script src="{% static 'js/Echart/shine.js' %}"></script>
        <script src="{% static 'js/Echart/vintage.js' %}"></script>

	</head>
	<body>
		<div id="loading"></div>
		<div class="page">
			<div class="page-main">
                <!-- 页眉目录栏 -->
				<div class="app-header1 header py-1 d-flex">
					<div class="container-fluid">
						<div class="d-flex">
							<a class="header-brand" href="">
								<img src="{% static 'images/logo1.png' %}" class="header-brand-img" alt="Uplor  logo">
							</a>
							<div class="menu-toggle-button">
								<a class="nav-link wave-effect" href="#" id="sidebarCollapse">
									<span class="fa fa-bars"></span>
								</a>
							</div>
							<div>
								<div class="searching">
									<a href="javascript:void(0)" class="search-open searching1">
										<i class="fa fa-search"></i>
									</a>
									<div class="search-inline">
										<form>
											<input type="text" class="form-control" placeholder="Searching...">
											<button type="submit">
												<i class="fa fa-search"></i>
											</button>
											<a href="javascript:void(0)" class="search-close">
												<i class="fa fa-times"></i>
											</a>
										</form>
									</div>
								</div>
							</div>
                            <div class="d-flex order-lg-1 ml-auto"  style="color: white" id="showdate"></div> <!--#太平洋时间 -->
							<div class="d-flex order-lg-2 ml-auto">
								<div class="dropdown d-none d-md-flex" >
									<a  class="nav-link icon full-screen-link">
										<i class="fe fe-maximize floating"  id="fullscreen-button"></i>
									</a>
							</div>
                            <div class="profile_info">
								<h2><a  href="/logout/">退出登录</a></h2>
							</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wrapper">
					<!-- 侧边目录栏 -->
					<nav id="sidebar" class="nav-sidebar">
						<div class="profile clearfix">
							<div class="profile_pic">
								<img src="{% static 'images/aaa.png' %}" alt="..." class="img-circle profile_img">
{#								<a href="editprofile.html" class="profile-img">#}
{#									<span class="fa fa-pencil" aria-hidden="true"></span>#}
{#								</a>#}
							</div>
							<div class="profile_info">
								<h3>天道酬勤 地道酬善</h3>
								<h3>人道酬诚 商道酬信</h3>
							</div>
						</div>
						<ul class="list-unstyled components" id="accordion">
							<li class="border-0"><h3>Tophatter</h3><li>
                            <li>
								<a href="/information_aggregation/" class=" wave-effect accordion-toggle " target="_blank"><i class="fa fa-diamond mr-2 sidebarpink"></i> 信息汇总展示</a>
							</li>
							<li>
								<a href="#Submenu1" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-rocket mr-2 sidebarprimary"></i> 平台分析
								</a>
								<ul class="collapse list-unstyled" id="Submenu1" data-parent="#accordion">
									<li>
										<a href="/index/" target="_blank" >平台商品统计</a>
									</li>
									<li>
										<a href="/goodslist/" >商品分析</a>
									</li>
									<li>
										<a href="/seller/" target="_blank" >卖家分析</a>
									</li>
								</ul>
							</li>

                        {#高权限用户下面才可见 #}
                        {% if user != 'zhg' and user != 'zq' and user != 'lsx' and user != 'a97306030' and user != 'SYL' and user != 'fangling' %}
							<li>
								<a href="#Submenu2" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-cubes mr-2 sidebaryellow"></i> 利润统计
								</a>
								<ul class="collapse list-unstyled" id="Submenu2" data-parent="#accordion">
									<li>
										<a href="/profitStatistics/" target="_blank">订单统计</a>
									</li>
									<li>
										<a href="/profitStatistics_2/" target="_blank">拍卖统计</a>
									</li>
									<li>
										<a href="/profitStatistics_3/" target="_blank">拍卖统计(原始)</a>
									</li>
									<li>
										<a href="/buy_nows/" target="_blank">一口价统计</a>
									</li>
                                    <li>
										<a href="/buy_nows_page/" target="_blank">一口价（页面数据）</a>
									</li>
								</ul>
							</li>
                            <li>
								<a href="#Submenu3" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-cubes mr-2 sidebaryellow"></i> 商品管理
								</a>
								<ul class="collapse list-unstyled" id="Submenu3" data-parent="#accordion">
                                    <li>
										<a href="/products_operate/ " target="_blank">批量上传</a>
									</li>
                                    <li>
										<a href="/products_operate_single/" target="_blank">上传商品</a>
									</li>
									<li>
										<a href="/products/" target="_blank">店铺所有商品</a>
									</li>
                                    <li>
										<a href="/products_collect/" target="_blank">商品库</a>
									</li>
                                    <li>
										<a href="/products_parets/" target="_blank">配件库</a>
									</li>
									<li>
										<a href="/SKU_list_2/" target="_blank">商品信息录入</a>
									</li>
								</ul>
							</li>
                            <li >
								<a href="#Submenu7" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-table mr-2 sidebarpurple"></i> 发货物流
								</a>
								<ul class="collapse list-unstyled" id="Submenu7" data-parent="#accordion">
									<li>
										<a href="/logistics_statistic/" target="_blank">物流规则 </a>
									</li>
									<li>
										<a href="/return_performance/" target="_blank">退货表现</a>
									</li>
                                    <li>
										<a href="/refund_orders/" target="_blank">订单退货</a>
									</li>
								</ul>
							</li>
							<li >
								<a href="#Submenu8" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-sun-o mr-2 sidebarpink"></i> 账户资金
								</a>
								<ul class="collapse list-unstyled" id="Submenu8" data-parent="#accordion">
									<li>
										<a href="/founds/" target="_blank">资金统计 </a>
									</li>
									<li>
										<a href="/fund_analysis/" target="_blank">资金表现</a>
									</li>
								</ul>
							</li>
                            <li><h3>5miles</h3><li>
							<li>
								<a href="#Submenu4" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-futbol-o mr-2 sidebarred"></i> 商品管理
								</a>
								<ul class="collapse list-unstyled" id="Submenu4" data-parent="#accordion">
									<li>
										<a href="/five_miles/all_products_5miles/" target="_blank">所有商品</a>
									</li>
                                    <li>
										<a href="/five_miles/up_products_5miles/" target="_blank">上传商品</a>
									</li>
								</ul>
							</li>
                            <li>
								<a href="#Submenu5" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-futbol-o mr-2 sidebarred"></i> 订单管理
								</a>
								<ul class="collapse list-unstyled" id="Submenu5" data-parent="#accordion">
									<li>
										<a href="/five_miles/all_oders_5miles/" target="_blank">所有订单</a>
									</li>
								</ul>
							</li>
                            <li>
								<a href="#Submenu6" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-futbol-o mr-2 sidebarred"></i> 账户资金
								</a>
								<ul class="collapse list-unstyled" id="Submenu6" data-parent="#accordion">
									<li>
										<a href="/five_miles/funds_5miles/" target="_blank">余额状态</a>
									</li>
								</ul>
							</li>
                            <li><h3>其他电商平台</h3><li>
                            <li >
								<a href="#Submenu10" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-shopping-cart mr-2 sidebarsuccess"></i> 速卖通
								</a>
								<ul class="collapse list-unstyled" id="Submenu10" data-parent="#accordion">
									<li>
										<a href="/Function_1/" target="_blank">价格计算</a>
									</li>
								</ul>
							</li>
							<li><h3>服务</h3><li>
							<li>
								<a href="#Submenu9" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
									<i class="fa fa-futbol-o mr-2 sidebarred"></i> 拓展功能
								</a>
								<ul class="collapse list-unstyled" id="Submenu9" data-parent="#accordion">
									<li>
										<a href="/brand/" target="_blank" >平台商标统计</a>
									</li>
                                    <li>
										<a href="/e_commerce_platform/" target="_blank">各类电商平台介绍</a>
									</li>
								</ul>
							</li>
                        {% endif %}
						</ul>
					</nav>
                    <!-- 内容区域 -->
					<div class=" content-area overflow-hidden">
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card">
									<div class="card-header">
                                        <form id="searchForm"  method="post" action="" target="_top">
                                                {% csrf_token %}
                                                <div style="height: 100px;">
                                                    <div style="width: 300px; height: 45px; float: left">
                                                        <span style="">起始时间：</span>
                                                        <input id="start_time" style="width: 180px; height: 30px; border-radius: 4px;" type="datetime-local" name="start_time" value="{{ start_time }}">
                                                    </div>
                                                    <div style="width: 300px; height: 45px; float: left">
                                                        <span style="">结束时间：</span>
                                                        <input id="end_time" style="width: 180px; height: 30px; border-radius: 4px;" type="datetime-local" name="end_time" value={{ end_time }}>
                                                    </div>
                                                    <div style="width:   300px; height: 45px; float: left">
                                                        <span style="">标准商品ID：</span>
                                                        <input id="standard_product_id" style="width: 140px; height: 30px; border-radius: 4px;" type="text" name="standard_product_id"  placeholder="请输入标准商品ID"value={{ standard_product_id }}>
                                                    </div>
                                                    <div style="width: 300px; height: 45px; float: left">
                                                        <span style="">商品名称：</span>
                                                        <input id="product_name" style="width: 140px; height: 30px; border-radius: 4px;" type="text" name="product_name" placeholder="请输入商品名称"value="{{ product_name }}">
                                                    </div>
                                                    <div style="width: 300px; height: 45px; float: left">
                                                        <span style="">商品品类：</span>
                                                        <select style="width: 140px; height: 30px; border-radius: 4px;" name="product_taxonomy" id="product_taxonomy" placeholder="请选择品类">
                                                            <option value="all">all</option>
                                                            <option value="Accessories">Accessories</option>
                                                            <option value="Apparel">Apparel</option>
                                                            <option value="Beauty">Beauty</option>
                                                            <option value="Branded_Bags">Branded_Bags</option>
                                                            <option value="Collectibles">Collectibles</option>
                                                            <option value="Edibles">Edibles</option>
                                                            <option value="Electronics">Electronics</option>
                                                            <option value="Fine_Jewelry">Fine_Jewelry</option>
                                                            <option value="Home">Home</option>
                                                            <option value="Jewelry">Jewelry</option>
                                                            <option value="Kids">Kids</option>
                                                            <option value="Shoes">Shoes</option>
                                                            <option value="Supplies">Supplies</option>
                                                            <option value="Other">Other</option>
                                                            <option selected="selected" value="{{ product_taxonomy }}">{{ product_taxonomy }}</option>
                                                        </select>
                                                    </div>
                                                    <div style="width: 300px; height: 40px; float: left">
                                                        <span style="">订单类型：</span>
                                                        <select style="width: 140px; height: 30px; border-radius: 4px;" name="product_type" id="product_type" value="{{ product_type }}">
                                                            <option value="全部订单">全部订单</option>
                                                            <option value="一口价">一口价</option>
                                                            <option value="竞拍价">竞拍价</option>
                                                            <option selected="selected" value="{{ product_type }}">{{ product_type }}</option>
                                                        </select>
                                                    </div>
                                                    <div style="width: 300px; height: 40px; float: left">
                                                        <span style="">排序方式：</span>
                                                        <select style="width: 180px; height: 30px; border-radius: 4px;" name="SerialNumber" id="SerialNumber"value={{ SerialNumber }}>
                                                            <option value="-product_sum">总数量降序</option>
                                                            <option value="product_sum">总数量升序</option>
                                                            <option value="-bid_oders">竞拍价数量降序</option>
                                                            <option value="bid_oders">竞拍价数量升序</option>
                                                            <option value="-buy_now_oders">一口价数量降序</option>
                                                            <option value="buy_now_oders">一口价数量升序</option>
                                                            <option value="-hammer_price_local">成交价降序</option>
                                                            <option value="hammer_price_local">成交价升序</option>
                                                            <option value="-ratings_average">均评分降序</option>
                                                            <option value="ratings_average">均评分升序</option>
                                                            <option value="-product_parent_id_number">listing数量降序</option>
                                                            <option value="product_parent_id_number">listing数量升序</option>
                                                            <option value="-user_number">卖家数量降序</option>
                                                            <option value="user_number">卖家数量升序</option>

                                                            <option selected="selected" value={{ SerialNumber }}>{{ SerialNumber }}</option>
                                                        </select>
                                                    </div>
                                                    <div style="width:  300px; height: 40px; float: left;vertical-align: middle">
                                                            <input id="quantity" style="width: 80px; height: 30px; border-radius: 10px;" type="number" name="quantity" min="0" max="99999" placeholder="数量"value={{ quantity }}>
                                                            <input style="width: 120px;height: 30px;background: #4ebc30"type="submit" value="查询数据">
                                                    </div>
                                                </div>
                                        </form>
{#										<h4 class="page-title">订单统计</h4>#}
										<div class="card-options">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<!-- table-wrapper -->
								</div>
								<!-- section-wrapper -->
							</div>
							<div class="col-md-12 col-lg-12" >
								<div class="card">
									<div class="card-body" >
										<div class="table-responsive" >
											<table id="" class="hover table-bordered" style="width: 100%;min-width:1000px ">
												<thead style="background: #0ec0e1">
                                                    <tr style="height: 60px">
                                                        <th style="text-align: center ;width: 200px" >商品标准ID</th>
                                                        <th style="text-align: center ;width: 150px" >主图（其一）</th>
{#                                                        <th style="text-align: center ;width: 200px" >展示总数</th>#}
                                                        <th style="text-align: center ;width: 200px" >卖出总数</th>
                                                        <th style="text-align: center ;width: 200px" >拍卖总数</th>
                                                        <th style="text-align: center ;width: 200px" >一口价总数</th>
                                                        <th style="text-align: center ;width: 200px" >均成交价</th>
                                                        <th style="text-align: center ;width: 200px" >均成交价<br>(含运费)</th>
                                                        <th style="text-align: center ;width: 200px" >均评分/总评论数/总收藏数</th>
                                                        <th style="text-align: center ;width: 200px" >listin数量</th>
                                                        <th style="text-align: center ;width: 200px" >卖家数量</th>
                                                        <th style="text-align: center ;width: 200px">详情</th>
                                                    </tr>
												</thead>
												<tbody>
                                                    {% for TOPDATA in TOPDATAS %}
                                                        <tr id="" style="font-size: 15px">
                                                            <td style="text-align: center"><a style="">{{ TOPDATA.standard_product_id}}</a><br>
                                                                <input name="" style="width: 100px;border-color: #b3dcf9;color: lightseagreen;background: white" type="button" id="" title="" value="统计"  onclick="window.open('/TOP_show/?standard_product_id={{ TOPDATA.standard_product_id }}','target')" />
                                                            </td> <!--top_id-->
                                                            <td style="text-align: center" ><!--主图-->
                                                                <br>
                                                                <div >
                                                                    <a data-toggle="modal" data-target="#a{{ TOPDATA.standard_product_id}}b">
                                                                    <img class="lazy" src="{% static 'images/loading.gif' %}" data-echo="{{ TOPDATA.image_urls_0}}" width=95% height=95%></a>
                                                                </div>
                                                                <!-- 弹出框信息 -->
                                                                <div class="modal fade" id="a{{ TOPDATA.standard_product_id}}b" tabindex="-1" role="dialog"  aria-hidden="true">
                                                                    <div class="modal-dialog" role="document" >
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="example-Modal3">{{ TOPDATA.standard_product_id}}</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                 <img class="lazy" src="{% static 'images/loading.gif' %}" data-echo="{{ TOPDATA.image_urls_0}}">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td><!--主图/SKU-->
{#                                                            <td style="text-align: center"><a >{{ TOPDATA.product_sum_total}}</a></td> <!--展示总数量-->#}
                                                            <td style="text-align: center"><a >{{ TOPDATA.product_sum_total}}</a></td> <!--卖出数量-->
                                                            <td style="text-align: center"><a >{{ TOPDATA.bid_oders}}</a></td> <!--拍卖总数-->
                                                            <td style="text-align: center"><a >{{ TOPDATA.buy_now_oders}}</a></td> <!--一口价总数-->
                                                            <td style="text-align: center"><a >{{ TOPDATA.hammer_price_local}}</a></td> <!--成交价-->
                                                            <td style="text-align: center"><a >{{ TOPDATA.hammer_shipping_price}}</a></td> <!--平均成交价（含运费）-->
                                                            <td style="text-align: center"><a >{{ TOPDATA.ratings_average}}</a> /     <!--评分-->
                                                                            <a >{{ TOPDATA.ratings_count}}</a> /       <!--评论数-->
                                                                            <a >{{ TOPDATA.alerts_count}}</a> </td>    <!--收藏数-->
                                                            <td style="text-align: center"><a >{{ TOPDATA.product_parent_id_number}}</a></td>    <!--编号数量-->
                                                            <td style="text-align: center"><a >{{ TOPDATA.user_number}}</a></td>    <!--卖家数量-->
                                                            <td style="text-align: center">
                                                                <a class="link-update" style="color: lightseagreen;background: white" href="/index/?page=1&standard_product_id={{ TOPDATA.standard_product_id }}&product_name={{ product_name }}&product_taxonomy={{ product_taxonomy }}&start_time={{ start_time }}&end_time={{ end_time }}" target="_blank">详情</a> <!---->
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

                    <!--分页代码-->
            <footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
                            <form name="formpage" onkeydown="if(event.keyCode==13){return false;}">
                                {% if page_of_objs.has_previous %}
                                    <a aria-label="Previous" style="padding: 8px 13px;" href="?page={{ page_of_objs.previous_page_number }}&start_time={{ start_time }}&end_time={{ end_time }}&product_id={{ product_id }}&standard_product_id={{ standard_product_id }}&seller_name={{ seller_name }}&product_name={{ product_name }}&product_taxonomy={{ product_taxonomy }}&price_min={{ price_min }}&price_max={{ price_max }}&quantity_min={{ quantity_min }}&quantity_max={{ quantity_max }}&seller_id={{ seller_id }}&product_type={{ product_type }}&product_collection={{ product_collection }}&SerialNumber={{ SerialNumber }}&quantity={{ quantity }}" aria-label="Previous" style="padding: 8px 13px;">
                                    <span aria-hidden="true" style="font-size: 13px;">上一页</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true"
                                          style="font-size: 13px; margin-right: 1px;
                                          padding:5.5px 13px 7.5px;">上一页</span>
                                {% endif %}

                                {% for page_num in page_range %}
                                    {% if page_num == page_of_objs.number %}
                                        <a style="background: #009688; color: white" href="?page={{ page_num }}&start_time={{ start_time }}&end_time={{ end_time }}&product_id={{ product_id }}&standard_product_id={{ standard_product_id }}&seller_name={{ seller_name }}&product_name={{ product_name }}&product_taxonomy={{ product_taxonomy }}&price_min={{ price_min }}&price_max={{ price_max }}&quantity_min={{ quantity_min }}&quantity_max={{ quantity_max }}&seller_id={{ seller_id }}&product_type={{ product_type }}&product_collection={{ product_collection }}&SerialNumber={{ SerialNumber }}&quantity={{ quantity }}" aria-label="Previous" style="padding: 8px 13px;">{{ page_num }}</a>
                                    {% else %}
                                        {% if page_num == '...' %}
                                            <a>{{ page_num }}</a>
                                        {% else %}
                                            <a  href="?page={{ page_num }}&start_time={{ start_time }}&end_time={{ end_time }}&product_id={{ product_id }}&standard_product_id={{ standard_product_id }}&seller_name={{ seller_name }}&product_name={{ product_name }}&product_taxonomy={{ product_taxonomy }}&price_min={{ price_min }}&price_max={{ price_max }}&quantity_min={{ quantity_min }}&quantity_max={{ quantity_max }}&seller_id={{ seller_id }}&product_type={{ product_type }}&product_collection={{ product_collection }}&SerialNumber={{ SerialNumber }}&quantity={{ quantity }}" aria-label="Previous" style="padding: 8px 13px;">{{ page_num }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if page_of_objs.has_next %}
                                    <a  aria-label="Next" style="padding:8px 13px;" href="?page={{ page_of_objs.next_page_number }}&start_time={{ start_time }}&end_time={{ end_time }}&product_id={{ product_id }}&standard_product_id={{ standard_product_id }}&seller_name={{ seller_name }}&product_name={{ product_name }}&product_taxonomy={{ product_taxonomy }}&price_min={{ price_min }}&price_max={{ price_max }}&quantity_min={{ quantity_min }}&quantity_max={{ quantity_max }}&seller_id={{ seller_id }}&product_type={{ product_type }}&product_collection={{ product_collection }}&SerialNumber={{ SerialNumber }}&quantity={{ quantity }}" aria-label="Previous" style="padding: 8px 13px;">
                                        <span style="font-size: 13px;">下一页</span>
                                    </a>
                                {% else %}
                                    <span style="font-size: 13px;">下一页</span>
                                {% endif %}

                                &nbsp;&nbsp;&nbsp;&nbsp;<input name='submitSkip' type='button' onClick='GoPage("默认文件路径比如/文件夹/index.html")' value='转到'>
                                第<input style="width: 50px;text-align: center" name='SkipPage' placeholder="数量"value={{ page_of_objs.number }} >页


                                <span style="font-size: 13px;color: black">&nbsp;&nbsp;&nbsp;&nbsp;共&nbsp;{{ page_of_objs.paginator.count }}&nbsp;条数据&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </form>
						</div>
					</div>
				</div>
			</footer>


			<!--footer-->
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
							Copyright © 2019 <a href="#">Uplor </a>. Designed by <a href="http://www.tophatter.com/">Ethan</a> All rights reserved.
						</div>
					</div>
				</div>
			</footer>
			<!-- End Footer-->
		</div>
		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

        <!--计算器-->
        <div class="scrollsidebar" id="hhService" style="box-shadow: darkgrey 10px 10px 30px 5px ;opacity:1;">
            <div class="side_content">
                <div class="side_list">
                    <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
                    <div class="side_center" style="background:#f2f4f8">
                        <form >
                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: red">*</a>产品进价(￥)</span>
                                      <input type="number" id="计_产品进价" style="width: 100px;height: 40px;border-radius: 4px;" class="" placeholder="请输入" />
                                </div>
                                <div style="width: 250px; height: 45px; float: right">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: red">*</a>产品重量(g)</span>
                                      <input type="number" id="计_产品重量" style="width: 100px;height: 40px;border-radius: 4px;" class="" placeholder="请输入" />
                                </div>
                            </div>
                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: red">*</a>物流商选择</span>
                                      <select style="width: 100px; height: 40px; border-radius: 4px;" name="" id="计_物流商选择" >
                                            <option value="普货">普货</option>
                                            <option value="带电">带电</option>
                                            <option value="特货">特货</option>
                                            <option value="海运">输入</option>
                                            <option style="color: #d1d1d3" selected="selected" value="">--请选择--</option>
                                      </select>
                                </div>
                                <div style="width: 250px; height: 45px; float: right">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;输入运费(￥)</span>
                                      <input type="number" id="计_输入运费" style="width: 100px;height: 40px;border-radius: 4px;" class="" value="" placeholder="请输入" />
                                </div>
                            </div>
                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: red">*</a>均SFB($)</span>
                                      <input type="number" id="计_均SFB" style="width: 100px;height: 40px;border-radius: 4px;" class="" value="" placeholder="请输入" />
                                </div>
                                <div style="width: 250px; height: 45px; float: right">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: red">*</a>成交率(%)</span>
                                      <input type="number" id="计_成交率" style="width: 100px;height: 40px;border-radius: 4px;" class="" value="80" placeholder="请输入" />
                                </div>
                            </div>
                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style=""><a style="color: red">*</a>预估退货率(%)</span>
                                      <input type="number" id="计_预估退货率" style="width: 100px;height: 40px;border-radius: 4px;" class="" value="5" placeholder="请输入" />
                                </div>
                                <div style="width: 250px; height: 45px; float: right">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: red">*</a>当前汇率</span>
                                      <input type="number" id="计_当前汇率" style="width: 100px;height: 40px;border-radius: 4px;" class="" value="{{ EXCHANGE_RATE }}" placeholder="请输入" />
                                </div>
                            </div>
                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;一口价利润(%)</span>
                                      <input type="number" id="计_一口价利润" style="width: 100px;height: 40px;border-radius: 4px;" class="" value="30" placeholder="请输入" />
                                </div>
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;拍卖利润率(%)</span>
                                      <input type="number" id="计_拍卖利润率" style="width: 100px;height: 40px;border-radius: 4px;" class="" value="0" placeholder="请输入" />
                                </div>
                            </div>
                            <div style="width: 500px; height: 45px; float: left">
                            </div>


                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;运费(￥)</span>
                                      <input type="number" id="sp_1" style="color:red;width: 100px;height: 40px;border-radius: 4px;"  value="" placeholder="" disabled="disabled" />
                                </div>
                            </div>
                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拍卖利润(￥)</span>
                                      <input type="number" id="sp_6" style="color:red;width: 100px;height: 40px;border-radius: 4px;" class=""  value="" placeholder="" disabled="disabled" />
                                </div>
                                <div style="width: 250px; height: 45px; float: right">
                                      <span style="">&nbsp;&nbsp;一口价利润(￥):</span>
                                      <input type="number" id="sp_7" style="color:red;width: 100px;height: 40px;border-radius: 4px;" class="" value="" placeholder="" disabled="disabled" />
                                </div>
                            </div>
                            <div style="width: 500px; height: 60px; float: left">
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">&nbsp;&nbsp;&nbsp;拍卖总成本(￥)</span>
                                      <input type="number" id="sp_2" style="color:red;width: 100px;height: 40px;border-radius: 4px;" class=""  value="" placeholder="" disabled="disabled" />
                                </div>
                                <div style="width: 250px; height: 45px; float: left">
                                      <span style="">一口价总成本(￥)</span>
                                      <input type="number" id="sp_4" style="color:red;width: 100px;height: 40px;border-radius: 4px;" class=""  value="" placeholder="" disabled="disabled" />
                                </div>

                            </div>
                            <div style="width: 500px; height: 60px; float: left">

                                <div style="width: 250px; height: 45px; float: right">
                                      <span style="">&nbsp;&nbsp;建议一口价($):</span>
                                      <input type="number" id="sp_5" style="color:red;width: 100px;height: 40px;border-radius: 4px;" class="" value="" placeholder="" disabled="disabled" />
                                </div>
                                <div style="width: 250px; height: 45px; float: right">
                                      <span style="">&nbsp;&nbsp;拍卖预计价($):</span>
                                      <input type="number" id="sp_3" style="color:red;width: 100px;height: 40px;border-radius: 4px;" class="" value="" placeholder="" disabled="disabled" />
                                </div>
                            </div>
                            <div class=""  >
                                <button class="btn btn-primary" type="button"  data-container="body"
                                        data-toggle="popover" data-popover-color="popdanger"
                                        data-placement="bottom" title="计算公式："
                                        data-content="拍卖预计价：<br>
                                                      ((((成本*利润率)/汇率)+1(广告费)+0.3(手续费)))/0.881(佣金)/(退货率) + SFB/成交率 <br><br>
                                                      一口建议价：<br>
                                                      ((((成本*利润率)/汇率)+1(广告费)+0.3(手续费)))/0.881(佣金)/(退货率)">计算公式
                                </button>
                                <button  type="button" onclick="displayResult_count(this)" class="btn btn-primary"  id="111" >开始计算</button>
                            </div>
                            <script>
                              function displayResult_count(obj){
                             $.ajax({
                                        url:'/profitStatistics_2/',
                                        type:'get',
                                        data:
                                            {
                                            计_产品进价:$('#计_产品进价').val(),
                                            计_产品重量:$('#计_产品重量').val(),
                                            计_均SFB:$('#计_均SFB').val(),
                                            计_成交率:$('#计_成交率').val(),
                                            计_预估退货率:$('#计_预估退货率').val(),
                                            计_当前汇率:$('#计_当前汇率').val(),
                                            计_物流商选择:$('#计_物流商选择').val(),
                                            计_输入运费:$('#计_输入运费').val(),
                                            计_一口价利润:$('#计_一口价利润').val(),
                                            计_拍卖利润率:$('#计_拍卖利润率').val(),
                                            csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                                             },
                                            success: function (response) {
                                                    var ret = JSON.parse(response);

                                                    $('.sp_0').html('qwerty').css("color", "red");

                                                    document.getElementById('sp_1').value=ret.msg_e_1;
                                                    document.getElementById('sp_2').value=ret.msg_e_2;
                                                    document.getElementById('sp_3').value=ret.msg_e_3;
                                                    document.getElementById('sp_4').value=ret.msg_e_4;
                                                    document.getElementById('sp_5').value=ret.msg_e_5;
                                                    document.getElementById('sp_6').value=ret.msg_e_6;
                                                    document.getElementById('sp_7').value=ret.msg_e_7;
                                                }
                                        })
                             }
                            </script>
                        </form>
                    </div>
                    <div class="side_bottom"></div>
                </div>
            </div>
            <div class="show_btn"><span>在线客服</span></div>
        </div><!--scrollsidebar end-->

		<!-- Dashboard js -->
		 <script src="{% static 'assets/js/vendors/jquery-3.2.1.min.js' %}"></script>
		 <script src="{% static 'assets/plugins/bootstrap-4.1.3/popper.min.js' %}"></script>
		 <script src="{% static 'assets/plugins/bootstrap-4.1.3/js/bootstrap.min.js' %}"></script>
		 <script src="{% static 'assets/js/vendors/selectize.min.js' %}"></script>
		 <script src="{% static 'assets/js/vendors/circle-progress.min.js' %}"></script>
		 <script src="{% static 'assets/plugins/rating/jquery.rating-stars.js' %}"></script>

		<!-- Fullside-menu Js-->
		 <script src="{% static 'assets/plugins/fullside-menu/jquery.slimscroll.min.js' %}"></script>
		 <script src="{% static 'assets/plugins/fullside-menu/waves.min.js' %}"></script>

		<!-- Data tables -->
		 <script src="{% static 'assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		 <script src="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>

		<!-- Select2 js -->
		 <script src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script>

		<!-- Custom scroll bar Js-->
		 <script src="{% static 'assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

		<!-- Custom Js-->
		 <script src="{% static 'assets/js/custom.js' %}"></script>

        <!-- Data table js -->
        <script>
        $(function(e) {
        $('#example').DataTable();
        } );
        $(document).ready(function() {
        $('#example2').DataTable();
        } );
        </script>

        <!-- 图片懒加载 -->
        <script src="{% static 'js/echo/echo.min.js' %}"></script>
        <script>
        Echo.init({
            offset: 5,
            throttle: 200
        });
        </script>

        <!-- 输入页码跳转 -->
        <script language=javascript>
            function GoPage(Myself)
            {
            if (document.formpage.SkipPage.value > parseInt({{ page_of_objs.paginator.count }})/parseInt({{ quantity}}))
            {   alert('请输入正确的的页码').css("color", "red")} //绝对路径可自己设置
            else{
            window.location.href="?page="+document.formpage.SkipPage.value+
                "&start_time={{ start_time }}&end_time={{ end_time }}&product_id={{ product_id }}&standard_product_id={{ standard_product_id }}" +
                "&seller_name={{ seller_name }}&product_name={{ product_name }}&product_taxonomy={{ product_taxonomy }}" +
                "&price_min={{ price_min }}&price_max={{ price_max }}&quantity_min={{ quantity_min }}" +
                "&quantity_max={{ quantity_max }}&seller_id={{ seller_id }}&product_type={{ product_type }}" +
                "&product_collection={{ product_collection }}&SerialNumber={{ SerialNumber }}&quantity={{ quantity }}";
            }
            }
        </script>

        <!-- html太平洋时间 -->
        <script>
        // 时间设置
        var  timezone = -7; // 时区 ： 东区时区1~12  西区时区-1~-12
        var  date;

         date = getLocalTime(timezone)
          .toString()
           .split("GMT+")[0]
           .toString();
        $("#showdate").html(date);

       function getLocalTime(i) {
         if (typeof i !== "number") {
             return new Date();
           }
           var d = new Date();
           var len = d.getTime();
           var offset = d.getTimezoneOffset() * 60000;
           var utcTime = len + offset;
          return new Date(utcTime + 3600000 * i);
        }
       // 时间设置end
       window.onload = function() {
       // 调用时间
       var setdate = setInterval(() => {
       date = getLocalTime(timezone)
         var year = date.getFullYear();
         var month = date.getMonth()+1;
         var Date = date.getDate();
         var hour = date.getHours();  //获得小时、分钟、秒
         var minute = date.getMinutes();
         var second = date.getSeconds();
         var weekday = 0;
         switch(date.getDay()){
            case 0:
            weekday = "星期日";
            break;
            case 1:
            weekday = "星期一";
            break;
            case 2:
            weekday = "星期二";
            break;
            case 3:
            weekday = "星期三";
            break;
            case 4:
            weekday = "星期四";
            break;
            case 5:
            weekday = "星期五";
            break;
            case 6:
            weekday = "星期六";
            break;
         }
        document.getElementById("showdate").innerHTML="<br>当前太平洋时间："+year+"年"+month+"月"+Date+"日&nbsp&nbsp;"+hour+":"+minute+":"+second+"&nbsp&nbsp;"+weekday;
       }, 1000);
       // 调用时间end
        };
      </script>

        <!--计算器-->
        <script type="text/javascript" src="{% static 'jisuanqi/js/jquery.hhService.js' %}"></script>
        <script type="text/javascript">
            $(function(){
            //悬浮计算器
            $("#hhService").fix({
                float : 'right',	      //默认设置 “left” or “right”
                minStatue : true,     //默认设置 “false” or “true”
                skin : 'blue',	    //默认设置 “blue”  “orange”  “green”  “red”  “pink”
                durationTime : 400
            });
        });
        </script>


	</body>
</html>