
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>批量CSV上传</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../static/style/admin.css" media="all">
  {#  回到顶部底部#}
  <link rel="stylesheet" href="../../../static/myself_static_files/top_down/style.css" media="all">
    <!---ECharts图表库-->
  <script src="https://unpkg.com/echarts@4.8.0/dist/echarts.js" charset="utf-8"></script>
  <style>
        .layui-input,.layui-inline{
            height:30px;
        }
        .layui-form-item .layui-input-inline{
            width: 150px;
        }
  </style>
</head>
<body >
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">

      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">上传商品CSV文件</div>
          <div class="layui-card-body">
            <h3>请选择需要上传的订单退货文件（<a style="">请输入CSV格式文件</a>）</h3>
            <div class="layui-upload-drag" id="test-upload-drag">
              <i class="layui-icon"></i>
              <p>点击上传，或将文件拖拽到此处</p>
            </div>
            <div class="layui-inline" >
              <label class="layui-form-label">模板下载：</label>
              <div class="layui-input-inline"  >
                <button id =""  class="layui-btn layui-btn-sm" lay-submit lay-filter="mubanxiazai">模板文件</button>
              </div>
            </div>
          </div>
          <div class="layui-input-inline" style="width: 1000px">
                  <label class="layui-form-label" style="width: 150px">上传成功：</label>
                  <input disabled name="avatar" lay-verify="" id="filename_orders" placeholder="文件名" value="" class="layui-input" style="width: 600px;color: #bd362f">
          </div>
        </div>
      </div>

      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">批量CSV上传商品（要等上传文件成功后才能进行退货）</div>
          <div class="layui-card-body">

              <div class="layui-form" action="" lay-filter="component-form-group">
                  <div class="layui-form-item" pane="">
                    <label class="layui-form-label">原始复选框</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary" title="全选">
                        {% for store_name_user in store_name_users %}
                            <input type="checkbox" name="store_name" lay-skin="primary" class='checkone' value="{{ store_name_user.store_name }}," title="{{ store_name_user.store_name }}">
                        {% endfor %}
                    </div>
                  </div>
              </div>

            <div class="layui-inline" >
              <div class="layui-input-inline"  >
                <button id =""  class="layui-btn layui-btn-sm" lay-submit lay-filter="shangchuanshuju">开始上传</button>
              </div>
            </div>
            <div style="color: black;size:B5">
                成功:<span id="sp_1" style="color: #bd362f"></span><br>
                失败:<span id="sp_2" style="color: #bd362f"></span><br>
                     <span id="sp_3" style="color: #bd362f"></span>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
{#  返回顶部底部按钮#}
<div id="floatPanel">
	<div class="ctrolPanel">
		<a class="arrow" href="#"><span>顶部</span></a>
		<a class="arrow" href="#"><span>底部</span></a>
	</div>
</div>
{#  图表统计#}
<div id="tongjiChart" style="display: none;">
     <div id="tongjiChartMain" style="width: 600px; height: 500px;"></div>
</div>

  <script src="../../../static/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'upload','form','jquery'], function(){
    var upload = layui.upload;
    var form = layui.form;
    var $ = layui.$;
    var layer = layui.layer;

    //拖拽上传
    var filename_orders = $('#filename_orders');
    upload.render({
       elem: '#test-upload-drag'
      ,url: '/Tophatter/uploading_csv/'
      ,accept:'file'
      ,exts:'csv'
      ,done: function(res){
          if(res.status == 0){
            layer.msg(res.msg, {shade: 0.2});
            filename_orders.val(res.filename_orders);
          } else {
            layer.msg(res.msg, {icon: 5,shade: 0.2});
          }
      }
    });

    //上传数据
    form.on('submit(shangchuanshuju)', function(data){
        var chk_value = [];
        $('input[name="store_name"]:checked').each(function () {chk_value.push($(this).val());});
        var value = chk_value.join('');//把复选框的值以数组形式存放

        var filename_orders= $('#filename_orders').val();
        layer.msg('开始上传，请稍后…', {icon: 16 ,shade: 0.2,time: 1200000});

        $.ajax({
            url:'/Tophatter/uploading_csv/',
            type:'get',
            data:{
                filename_orders : filename_orders,
                valss: value,
                开始上传:'开始上传'
            },
            success: function (response)
                {  var res = JSON.parse(response);
                    var index_load =  layer.msg();
                    layer.close(index_load);

                    if (res.msg_1) {//上传成功
                        document.getElementById("sp_1").innerHTML=res.msg_1;
                    }
                    if (res.msg_2) {//上传失败
                        document.getElementById("sp_2").innerHTML=res.msg_2;
                    }
                    if (res.msg_e) {//上传文件错误
                        document.getElementById("sp_3").innerHTML='文件错误：'+res.msg_e;
                    }
                }
            })

        //执行
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });

    //模板下载
    form.on('submit(mubanxiazai)', function(data){
        location.href='http://127.0.0.1:8000/static/user_files_directory/upload_file_products/商品详情-模板.csv'  //本地开发
      {#location.href='http://127.0.0.1:8000/static/user_files_directory/upload_file_products/商品详情-模板.csv'#}   //服务器地址
    });


{#页面到底到顶#}
    $(function(){
	// 页面浮动面板
	$("#floatPanel > .ctrolPanel > a.arrow").eq(0).click(function(){
		$("html,body").animate({scrollTop :0}, 800);
		return false;
	});
	$("#floatPanel > .ctrolPanel > a.arrow").eq(1).click(function(){
		$("html,body").animate({scrollTop : $(document).height()}, 800);
		return false;
	});
});

{#复选框全选#}
    form.on('checkbox(checkall)', function(data){
        if(data.elem.checked){
            $('.checkone').prop('checked',true);
        }else{
            $('.checkone').prop('checked',false);
        }
        form.render('checkbox');
    });
//the file id end//
  });

</script>

<script>

</script>
</body>
</html>